@media (max-width: 768px) {
    .content-container {
      margin-top: 72px;
    }
  }

  @media (min-width: 769px) {
    .content-container {
      margin-top: 72px;
      /*  equivalente a w-64 en Tailwind */
      margin-left: 16rem;
    }
  }
